
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');



h1{
   font-family: 'Hanalei Fill', cursive;
   font-style: normal;
   font-weight: normal;
   color: aqua;
}




